name: GitHub Classroom Workflow

on: [push]

jobs:
  build:
    name: Autograding
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
        if: ${{ always() }}
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v1.0.2
        if: ${{ always() }}
      - uses: actions/checkout@v2
        with:
          repository: '${{ secrets.REPO }}'
          token: ${{ secrets.PAT }}
          path: './test'
        if: ${{ always() }}
      - run: |
          ls ./test
          mv test/test/test.js test
          ls ./test
          git config --global user.email "${{ secrets.EMAIL }}"
          git config --global user.name "App Academy"
          git add .
          git commit -m 'updated test'
        if: ${{ always() }}
      - uses: education/autograding@v1
        id: autograder
        if: ${{ always() }}
      - run: |
          curl -X PUT '${{ secrets.RESULTS_WEBHOOK }}' -H 'Content-Type: application/json' -d '{"student username":"${{ github.actor }}","repo":"${{ github.repository }}", "files": "${{ steps.changed-files.outputs.all_modified_files }}","score":"${{ steps.autograder.outputs.Points }}","outcome":"${{ steps.autograder.outcome }}"}'
        if: ${{ always() }}